notebook==6.0.2
jupyterhub==1.0.0
jupyterlab==1.2.3
jupyter_kernel_gateway==2.4.0
dask<2.7.0; python_version < "3.6"
dask==2.8.1; python_version >= "3.6"
distributed<2.7.0; python_version < "3.6"
distributed==2.8.1; python_version >= "3.6"
tornado<6.0.0; python_version < "3.6"
tornado==6.0.4; python_version >= "3.6"
jhsingle-native-proxy>=0.7.6
voila-materialstream>=0.4.0
#plotlydash-tornado-cmd>=0.0.4
#bokeh-root-cmd>=0.1.2
#rshiny-server-cmd>=0.0.2
#voila-materialstream>=0.2.6
#voila
#streamlit 
#dash 
#bokeh 
#panel 
#holoviews
